@import "./mobile.css";
body {
    font-family: 'B612', sans-serif;
    font-display: swap;
  }
#menu{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.menu{
  background: rgb(0,0,0,0.3);
  color: #fff;
  width: 100%;
}
.menulist{
  list-style: none;
  display: flex;
}
.menulist li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menulist li a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.menulist li:not(:first-child) a:hover{
    color: #EBC338;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #D58C2F;
}
.title-menu{
    font-family: 'B612';
    font-style: italic;
    color: #fff;
}
.hero{
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  background: url('/img/hero.jpg'), rgba(0, 0, 0, 0.5) center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color:#fff;
}
.hero .logo{
  width: 400px;
  height: 400px;
}

.gridtacos-img{
    height: 400px;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-black{
 color: #000;
}
.bg-black{
    background-color: #000;
}
.text-orange{
    color: #D58C2F;
}
.text-yellow{
    color: #EBC338;
}
.font-bold{
    font-weight: bold;
}
.listtacos{
    list-style: none;
}
.listtacos li{
    color: #EBC338;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.5s ;

}
.listtacos li:hover{
    color: #D58C2F;
}
.h-100{
 height: 100%;
}
.animationrow{
    overflow: hidden;
    transition: all 0.5s ;
}
.animationrow:hover .gridtacos-img{
    transform: scale(1.2);
}

.animationrow:hover .info{
    background: url('/img/st.jpg') , rgb(0,0,0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.overflow-hidden{
    overflow: hidden;
}

.ubicacion{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #D58C2F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .5s;
}
.ubicacion svg{
    height: 100px;
    width: 100px;
}
.ubicacion {
    font-weight: 600;
    color: #fff;
}

.ubicacion:hover {
    background-color: #EBC338;
    color: #000;
    transform: scale(1.2);
}

.thirteen h2 {
    position:relative; font-size:1.5rem; font-weight:700;  letter-spacing:0px; text-transform:uppercase; width:150px; text-align:center; margin:auto; white-space:nowrap; border:2px solid #222;padding:5px 11px 3px 11px;
}
.thirteen h2:before, .thirteen h2:after {
    background-color:#D58C2F ;
    position:absolute; 
    content: '';
    height: 10px;
    width: 10px; border-radius:50%;
    bottom: 12px;
}
.thirteen h2:before {
   left:-20px;
}
.thirteen h2:after {
   right:-20px;
}


.heading1 h2 {
    position: relative;
    font-size:1.5rem; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
    color: #fff;
}
.heading1 h2:before {
    background-color: #EBC338;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.heading1 h2:after {
    background-color: #EBC338;
    content: '';
    display: block;
   position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}
  
.formpedidos{
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    padding: 2rem;
}

.formpedidos input{
    border: 2px solid #D58C2F;
    border-radius: 10px;
    padding: 0.5rem;
    outline: #EBC338;

}

.formpedidos select{
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    outline: #EBC338;

}
.formpedidos button:hover{
    border-radius: 20px;
    background-color: #EBC338;
    color: #fff;
    font-weight: bold;
    outline: #EBC338;

}
.formpedidos button{
    border-radius: 20px;
    background-color: #D58C2F;
    color: #fff;
    font-weight: bold;
    outline: #EBC338;

}
.footer-copy{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-copy:hover{
    color: #D58C2F;
}

@media (max-width:  768px) { 
    .hero .logo{
        width: 200px;
        height: 200px;
        margin-left: 20px;
    }
    .menulist{
        list-style: none;
        display: none;
    }
    .heading1 h2 {
        width: 300px;
    }
}
@media (max-width:  576px) { 
.heading1 h2 {
    width: 100%;
}
}